<div class="field">
  <%= f.label :nombre, 'Nombre de la tarea' %><br>
  <%= f.text_field :nombre %>
</div>

<div class="field">
  <%= f.collection_check_boxes :producto_ids, Producto.all, :id, :nombre %>
</div>


<%= f.link_to_remove "Eliminar esta tarea" %>