<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Marcas <small>#crear</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/marcas/crear.html.erb</p>
</section>